@import '../../style/shared/basicStyle.css';

.slider{
}

.slider-container{
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));

    position: relative;
}
.slider-title{
    font-family: var(--font-Museo-500);
    font-size: 56px;
}

.slider-title-second{
    background-color: var(--color-violet-opacity);
}

.slider-main{
    /*margin: 0 0 140px;*/
    /*width: 500px;*/
}

.slider-main-item{
    display: none;
    margin-top: 27px;
    height: auto;
}

.slider-main-item-profile{
    display: flex;
    margin: 27px 0 17px 0;
}

.slider-main-item-profile-icon{
    margin-right: 30px;
    width: 73px;
    height: 73px;
}

.slider-main-item-profile-icon-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.slider-main-item-description-name{
    font-family: var(--font-Museo-500);
    font-size: 18px;
    line-height: 30px;

    margin-top: 8px;
}
.slider-main-item-description-position{
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.slider-main-item-review{
    font-family: var(--font-Museo-500);
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.3px;

    margin-bottom: 31px;
}

.slider-main-number{
    font-family: var(--font-Museo-500);
    font-size: 15px;
    color: var(--color-violet);
}

.slider-main-item.active{
    display: block;
}

.slider-arrow-icon{
    position: absolute;
    font-size: 11px;
    padding: 16.5px 18px;

    border-radius: 50%;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
}

.slider-arrow-icon.left{
    top: 180px;
    left: 0;
}
.slider-arrow-icon.right{
    top: 180px;
    left: 64px;
}

.slider-arrow-icon:hover{
    border: 1px solid var(--color-violet);
}

.slider-quotes{
    position: absolute;
    top: 117px;
    right: 50%;
}

@media only screen and (max-width: 1199px) and (min-width: 768px){
    .slider-container{
        padding: 0 40px;
        justify-content: center;
        grid-template-columns: repeat(auto-fill,minmax(525px, 1fr));
    }

    .slider-main{
        width: 508px;
        justify-self: center;
    }

    .slider-main-item{
        margin: 0 0 0 0;
    }
    .slider-main-item-profile{
        margin: 0 0 59px 0;
        flex-direction: column;
        align-items: center;
    }

    .slider-main-item-profile-icon{
        margin: 0 0 0 0;
    }
    .slider-main-item-description{
        text-align: center;
    }
    .slider-main-item-review{
        text-align: center;
        letter-spacing: 0.6px;
    }

    .slider-main-number{
        text-align: center;
    }

    .slider-arrow-icon.left{
        top: 347px;
        left: 40px;
    }
    .slider-arrow-icon.right{
        top: 347px;
        right: 40px;
        left: auto;
    }

    .slider-quotes{
        top: 344px;
        left: 48%;
    }

    .started-title{
        margin: 0 0 56px 0;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .slider-container{
        padding: 0 0 10px;
        grid-template-columns: repeat(auto-fill,minmax(440px, 1fr));
    }
    .slider-main{
        max-width: 720px;
        justify-self: center;
    }

    .slider-main-item{
        margin: 0 0 0 0;
    }
    .slider-main-item-profile{
        margin: 0 0 75px 0;
        flex-direction: column;
        align-items: center;
    }

    .slider-main-item-profile-icon{
        margin: 0 0 0 0;
    }
    .slider-main-item-description{
        text-align: center;
    }
    .slider-main-item-review{
        text-align: center;
        letter-spacing: 0.6px;
    }

    .slider-main-number{
        text-align: center;
    }

    .slider-arrow-icon.left{
        top: auto;
        left: 40px;
        bottom: 0;
    }
    .slider-arrow-icon.right{
        top: auto;
        left: auto;
        right: 40px;
        bottom: 0;
    }

    .slider-quotes{
        top: 344px;
        left: 48%;
    }

    .started-title{
        margin: 0 0 56px 0;
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
 .slider-container{
     padding: 0 0 10px;
     grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));
 }
    .slider-main{
        max-width: 440px;
    }

    .slider-main-item{
        margin: 0 0 0 0;
    }
    .slider-main-item-profile{
        margin: 0 0 75px 0;
        flex-direction: column;
        align-items: center;
    }

    .slider-main-item-profile-icon{
        margin: 0 0 0 0;
    }
    .slider-main-item-description{
        text-align: center;
    }
    .slider-main-item-review{
        text-align: center;
        letter-spacing: 0.6px;
    }

    .slider-main-number{
        text-align: center;
    }

    .slider-arrow-icon.left{
        top: auto;
        left: 40px;
        bottom: 0;
    }
    .slider-arrow-icon.right{
        top: auto;
        left: auto;
        right: 40px;
        bottom: 0;
    }

    .slider-quotes{
        top: 344px;
        left: 48%;
    }

    .started-title{
        margin: 0 0 56px 0;
    }
}