:root {
    --color-violet: #6248FF;
    --color-violet-opacity: rgba(97,73,250, 0.1);
    --color-violet-disable:rgb(223,223,223);
    --color-violet-hover:rgb(113, 129, 249);
    --color-white: #FFFFFF;
    --color-black: #333333;
    --color-gray: #E0E0E0;
    --color-gray-1: #333333;
    --color-gray-2: #4F4F4F;
    --color-gray-3: #828282;
    --font-Monts:'Montserrat', sans-serif;
    --font-Museo-500:'MuseoSansCyrl-500', sans-serif;
    --font-Museo-700:'MuseoSansCyrl-700', sans-serif;
    /*--font-family:'Montserrat', sans-serif;*/
}